  $blue: #1d9bf0;
  $gray-containers: #202327;
  $gray-border: #2f3336;
  $gray-dark-border: #202222;
  $gray: #828388;
  $text-color: #d9dbdc;
  $green: #00ba7c;
  $red: rgb(255, 92, 92);
  $orange: orange;