*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* color variables---------------------- */
:root {
  --blue: #1d9bf0;
  --gray-border: #2f3336;
  --gray-dark-border: #202222;
  --gray: #828388;
  --text-color: #e2e5e6;
  --green: #00ba7c;
  --red:rgb(255, 92, 92);
  --orange:  orange;
}

/* flex classes------------------------ */
.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-a {
  display: flex;
  justify-content: space-between;
}

.flex-start {
  display: flex;
  justify-content: start;
}

body {
  color: white;
  font-weight: 700;
  background-color: #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header{
  position: sticky;
  top: 0px;
}

header {
  border-bottom: 1px solid var(--gray-border);
  height: 55px;
  background-color: black;
}

.feed { 
  margin-bottom: 4rem;
}

.logo {
  display: block;
  margin: 0.8rem auto;
  width: 2rem;
}

.pfp {
  width: 2rem;
  border-radius: 50%;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.icon {
  width: 2rem;
}

.following-tabs-container {
  font-size: 1rem;
  border-top: 1px solid var(--gray-dark-border)
}

.tab1,
.tab2 {
  padding: 0.8rem;
}

.tab1 span {
  cursor: pointer;
  padding-bottom: 1.15rem;
  border-bottom: 3px solid var(--blue);
}

.tab2 span {
  cursor: pointer;
  color: var(--gray);
}

.tab2 span:hover {
  color: #acaeb6;
}

.tabs-section {
  width: 100%;
  cursor: pointer;
  height: 60px;
  position: fixed;
  background-color: black;
  bottom: 0px;
}

.post-container {
  padding: 0.5rem 0 0.8rem 0;
  width: 100%;
  border-bottom: 1px solid var(--gray-dark-border);
}

.post-pfp-container {
  display: block;
  min-width: 40px;
  height: 40px;
  background-size: cover;
  border-radius: 50%;
  margin: 0.4rem 0.6rem;
}

.post-text-container {
  padding-right: 1rem;
  display: inline-block;
}

.user-handle {
  font-size: 0.9rem;
  padding-left: 4px;
  padding-right: 0.3rem;
  color: var(--gray);
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post-time {
  color: var(--gray);
  font-weight: 400;
  padding-right: 0.3rem;
}

.post-username-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.verified {
  /* padding: 4px 4px; */
  align-items: center;
}

.post-text-container p {
  padding-top: 2px;
  font-size: 0.95rem;
  font-weight: 400;
  color: var(--text-color);
  word-spacing: -1px;
}

.post-stats-container {
  text-align: center;
  max-width: 600px;
  margin-top: 0.5rem;
}

.stats-span {
  color: var(--gray);
  padding-left: 0.1rem;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.post-images {
  margin-top: 0.5rem;
  border: 2px solid var(--gray-border);
  border-radius: 0.8rem;
  width: 100%;
  max-width: 600px;
}

span.hash {
  color: var(--blue);
  cursor: pointer;
}

.img-size-fix {
  background-size: cover;
  max-height: 400px;
}

.new-post-button {
  background-color: var(--blue);
  display: inline;
  padding: 1rem;
  position: fixed;
  bottom: 70px;
  border-radius: 50%;
  right: 25px;
}

.load-more {
  text-align: center;
  padding: 1rem;
}

.load-more:hover {
  background-color: #101010;
  cursor: pointer;
}

h3:hover {
  color: var(--blue);
}

h3 {
  margin: 0 auto;
}

/* hover states --------------------------------------- */

.new-post-button:hover {
  box-shadow: 0px 0px 100px 3px var(--blue);
}

.comments-icon:hover, .comments-icon ~ span:hover, .views-icon:hover, .home-icon:hover, .msg-icon:hover {
  fill: var(--blue);
  color: var(--blue);
  box-shadow: 0px 0px 100px 10px var(--blue);
}

.retweet-icon:hover, .retweet-icon ~ span:hover, .search-icon:hover, .community-icon:hover {
  fill: var(--green);
  color: var(--green);
  box-shadow: 0px 0px 120px 15px var(--green);
}

.like-icon:hover, .like-icon ~ span:hover, .noti-icon:hover {
  fill: var(--red);
  color: var(--red);
  box-shadow: 0px 0px 70px 5px var(--red);
}

.share-icon:hover {
  fill:var(--orange);
  box-shadow: 0px 0px 70px 5px orange;
}

.post-text-container:hover {
  cursor: pointer;
}

.post-stats-container:hover {
  border-radius: 6px;
  background-color: #101010;
}


/* media queries-------------------------------------  */

@media (min-width: 780px) {
  .post-text-container p, .post-username-container span {
    font-size: 1rem;
  }
}



@media (min-width: 1024px) {
  main {
    height: 100vh;
  }

  .feed {
    border-right: 1px solid var(--gray-border);
    border-left: 1px solid var(--gray-border);
    order: 2;
  }

  .tabs-section {
    order: 1;
    position: relative;
  }

  .right {
    order: 3;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1.4fr 1.3fr;
  }
}

@media (max-width: 420px) {
  .community {
    display: none;
  }

  .flex-wrap {
  display: flex;
  flex-wrap: wrap;
  }
}
